
/* MAIN STYLE */

:root {
    /* Main colors */
    --main-blue-color: #022863; /* Main blue color */
    --light-blue-color: #B3D2DA; /* Secondary color (Gray) */

  }

h1 {
    text-align: center;
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal; 
  }

p, ol {
    font-size: 1.15rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.section {
    height: 100vh;
    width: 100%;
    padding: 0;
}

.custom-btn {
    margin-top: 1vh;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: var(--main-blue-color); 
    color: #ffffff; /* Text color */
    border-color: var(--main-blue-color); 
    border-radius: 0.6rem;
}


/* NAVBAR */

.main-nav-item {
    margin-right: 5vw; /* Adjust the value to increase or decrease the space */
    margin-left: 5vw; /* Adjust the value to increase or decrease the space */
  }

.navbar-nav .nav-link {
    color: white !important;
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.navbar-nav .nav-link:hover {
    color: lightgray !important; 
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* HERO SECTION */

.hero {
    background-image: linear-gradient(to bottom, #022863, #B3D2DA);
}

.hero-title {
    color: white;
    font-size: 10.8vw;
    margin-bottom: -3vh;

}

.hero-title2 {
    color: white;
    font-size: 8.3vw;
    margin-top: -5vh;

}

.hero p {
    color: white;
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: center;
}


/* FOUND SECTION */

.found {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding: -3vh;
}

.found-title {
    color: var(--main-blue-color);
    font-size: 6vw;
    margin-bottom: -3vh;
    margin-top: 5vh;

}

.found-title2 {
    color: var(--main-blue-color);
    font-size: 5.2vw;

}

.found p {
    color: var(--main-blue-color);
    padding-top: 3vh;
    text-align: justify;

}

/* HELP SECTION */


.help {
    background-color: var(--main-blue-color);
}

.help-title {
    color: white;
    padding-top: 20vh;
    font-size: 5vw;

}

.help p, ol {
    color: white;
    padding-top: 3vh;
    text-align: justify;

}

/* DONATE SECTION */

.donate {
    background-color: white;
    height: 75vh;

}

.donate-title {
    color: var(--main-blue-color);
    font-size: 7vw;
    margin-top: 10vh;
}

.donate p {
    color: var(--main-blue-color);
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: var(--main-blue-color);
    height: 10vh;
    width: 100%;
    padding: -5vh;
    bottom: 0;
    right: 0;
    position: relative;
}