
/* MAIN STYLE */

:root {
    /* Main colors */
    --main-blue-color: #022863; 
    --light-blue-color: #B3D2DA; 

  }

h1 {
    text-align: center;
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal; 
  }

p, ol {
    font-size: 1.15rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.section {
    height: 100vh;
    width: 100%;
    padding: 0;
}

.custom-btn {
    margin-top: 1vh;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: var(--main-blue-color); 
    color: #ffffff; 
    border-color: var(--main-blue-color); 
    border-radius: 0.6rem;
}


/* NAVBAR */

.main-nav-item {
    margin-right: 5vw; 
    margin-left: 5vw; 
  }

.navbar-toggler-icon {
    filter: invert(1); /* Change to your desired color */
  }

.navbar-nav .nav-link {
    color: white !important;
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.navbar-nav .nav-link:hover {
    color: lightgray !important; 
    font-family: "Erica One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


/* HERO SECTION */

.hero {
    background-image: linear-gradient(to bottom, #022863, #B3D2DA);
}

.hero-title {
    color: white;
    font-size: 10.8vw;
    margin-bottom: -3vh;

}

.hero-title2 {
    color: white;
    font-size: 8.3vw;
    margin-top: -5vh;

}

.hero p {
    color: white;
    padding-left: 25vw;
    padding-right: 25vw;
    text-align: center;
}


.hero-image {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 100%;
    overflow: hidden;
}

/* FOUND SECTION */

.found {
    background-color: white;
    height: 120vh;
    width: 100%;
    padding: -3vh;
}

.found img {
    position: relative; 
    top: 0; 
    right: 0; 
    width: 100% ; 
    overflow: hidden;
}

.found-title {
    color: var(--main-blue-color);
    font-size: 6vw;
    margin-bottom: -3vh;
    margin-top: 5vh;

}

.found-title2 {
    color: var(--main-blue-color);
    font-size: 5.2vw;

}

.found p {
    color: var(--main-blue-color);
    padding-top: 3vh;
    text-align: justify;

}

.found-image {
    height: 70vh;
    overflow: hidden;
}

/* HELP SECTION */


.help {
    background-color: var(--main-blue-color);
}

.help-title {
    color: white;
    padding-top: 20vh;
    font-size: 5vw;

}

.help p, ol {
    color: white;
    padding-top: 3vh;
    text-align: justify;

}

.help-image {
    height: 75vh;
    overflow: hidden;
    padding-top: 20vh;
}

/* DONATE SECTION */

.donate {
    background-color: white;
    height: 90vh;

}

.donate-title {
    color: var(--main-blue-color);
    font-size: 7vw;
    margin-top: 10vh;
}

.donate p {
    color: var(--main-blue-color);
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
}

.paws-image {
    position: relative;
    bottom: 0;
    width: 100%; 
    overflow: hidden;
}

/* FOOTER */

.footer {
    background-color: var(--main-blue-color);
    height: 10vh;
    width: 100%;
 
}

.social-icons {
    padding-top: 3vh;
    text-align: center;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin:0 1rem;
    font-size: 1.8rem;
  }

  /* MEDIA QUERY */


  @media (max-width: 767px) {

    /* NAVBAR */

    .main-nav-item {
        margin: 0;
      }

    /* HERO SECTION */


    .hero-title {
        font-size: 20vw;
    
    }
    
    .hero-title2 {
        font-size: 15.4vw;
        margin-top: 1vh;
    
    }
    
    .hero p {
        padding:1vh 8vw;
        text-align: center;
    }

    /* FOUND SECTION */

    .found {
        height: 110vh;
    }
    
    .found-title {
        font-size: 15vw;
        margin-top: 2vh;
    
    }
    
    .found-title2 {
        margin-top: 0.5rem;
        font-size: 12.8vw;
    
    }
    
    .found p {
        padding: 1.5rem 4vw;
        text-align: justify;
    
    }

    .found-image {
        margin-top: -10vh;
        width: 50vw;
    }

    /* HELP SECTION */

    .help {
        height: 130vh;
    }

    .help-title {
        margin-top: -20vh;
        font-size: 12vw;
    
    }
    
    .help p, ol {
        padding: 1.5rem 4vw;
    
    }

    .help-image {
        width: 90vw;
        margin-top: -20vh;
    }

    .flex-container {
        flex-direction: row; /* Display flex items horizontally on medium and larger screens */
      }

    .flex-item-right {
        order: 1; /* Change the order of the right flex item to be displayed at the bottom */
      }

    /* DONATE SECTION */

    .donate {
        height: 72vh;
    
    }
    
    .donate-title {
        margin-top: 5vh;
        font-size: 12vw;

    }
    
    .donate p {
        color: var(--main-blue-color);
        text-align: center;
        padding: 1.5rem 4vw;
    }



  }

  /* Media query for screens between 768px and 991px (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {

  /* NAVBAR */

  .main-nav-item {
    margin: 0;
  }

/* HERO SECTION */


.hero-title {
    color: white;
    font-size: 20vw;

}

.hero-title2 {
    color: white;
    font-size: 15.4vw;
    margin-top: -2vh;

}

.hero p {
    color: white;
    padding:1vh 8vw;
    text-align: center;
}

  }

  /* Media query for screens larger than 1200px (e.g., desktops) */
  @media (min-width: 1200px) {

  }
